<!DOCTYPE html>
<html>
  <head>
    <title>Netinfo - Dashboard</title>
  </head>
  <body>
    <h1>Netinfo - Dashboard</h1>
    <p>Available network interfaces:</p>
      {% for iface in interfaces %}
      <p>
        <h2>{{ iface.name }}</h2>
        <ul>
          <li>Type: {{ iface.type }}</li>
          <li>State: {{ iface.state }}</li>

          {% if iface.state == 'activated' %}

            {% if iface.ip4_addresses|length > 1 %}
              <li>IPv4 Addresses: {{ iface.ip4_addresses|join:', ' }}</li>
            {% elif iface.ip4_addresses|length > 0 %}
              <li>IPv4 Address: {{ iface.ip4_addresses.0 }}</li>
            {% endif %}

            {% if iface.ip6_addresses|length > 1 %}
              <li>IPv6 Addresses: {{ iface.ip6_addresses|join:', ' }}</li>
            {% elif iface.ip6_addresses|length > 0 %}
              <li>IPv6 Address: {{ iface.ip6_addresses.0 }}</li>
            {% endif %}

          {% endif %}
        </ul>
      </p>
      {% endfor %}
  </body>
</html>
