<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL}}bootstrap.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <title>Netinfo - Dashboard</title>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand">Network Information</div>
          <ul class="nav">
            <li><a href="/">Dashboard</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="well">
        <h2>Network Interfaces</h2>
      </div>
      {% for iface in interfaces %}
        <div class="well">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{ iface.name }}</td>
              </tr>
              <tr>
                <td>Type</td>
                <td>{{ iface.type }}</td>
              </tr>
              <tr>
                <td>State</td>
                <td>{{ iface.state }}</td>
              </tr>

              {% if iface.type == 'wifi' %}
              <tr>
                <td>SSID</td>
                <td>{{ ssid }}</td>
              </tr>
              <tr>
                <td>Available Wireless Networks</td>
                <td><div id="ssids"></div><a href="#" class="btn">Scan</a></td>
              </tr>
              {% endif %}

              {% if iface.state == 'activated' %}
                <tr>
                {% if iface.ip4_addresses|length > 1 %}
                  <td>IPv4 Addresses</td>
                  <td>{{ iface.ip4_addresses|join:', ' }}</td>
                {% elif iface.ip4_addresses|length > 0 %}
                  <td>IPv4 Address</td>
                  <td>{{ iface.ip4_addresses.0 }}</td>
                {% endif %}

                {% if iface.ip6_addresses|length > 1 %}
                  <td>IPv6 Addresses</td>
                  <td>{{ iface.ip6_addresses|join:', ' }}</td>
                {% elif iface.ip6_addresses|length > 0 %}
                  <td>IPv6 Address</td>
                  <td>{{ iface.ip6_addresses.0 }}</td>
                {% endif %}
                </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
